# Blacklist everything from root of repo onwards.
*

# Whitelist repo files in the root dir.
!.gitattributes
!.gitignore
!Changelog.txt
!LICENSE
!README.md

!config
!config/ftbquests
!config/ftbquests/**